<div class="modal-content">
  <div class="container">
    <h4 class="primary-text bold center">
      LEY DE PROTECCION DE DATOS PERSONALES
    </h4>
    <br>
    <p class="text-justify">
    CENTRO MEDICO ODONTOLOGICO AMERICANO S.A.C., en adelante “La Empresa”, informa a EL PACIENTE que, de acuerdo a la Ley N° 29733 – Ley de Protección de Datos Personales, su Reglamento aprobado mediante Decreto Supremo N° 003-2013-JUS, y las demás disposiciones complementarias, en virtud de lo señalado, EL PACIENTE autoriza expresamente a LA EMPRESA a incorporar su información al banco de datos personales de usuarios de responsabilidad de LA EMPRESA, para fines estadísticos, administrativos y de gestión comercial. EL PACIENTE acepta mantener permanentemente actualizada su información, la presente autorización es por tiempo indefinido y podrá ser revocada en cualquier momento, dirigiéndose a LA EMPRESA en forma presencial, en el horario establecido para la atención al público.
    </p>
  </div>
</div>