<div class="modal-content container">
  <h4 class="primary-text bold center to-uppercase">Guía de preguntas frecuentes</h4>
  <br>
  <div class="row">
    <div class="col s12 l12">
      <!-- 1 -->
      <b class="primary-text">1. ¿Cuándo reiniciamos las atenciones?</b>
      <p>El reinicio de nuestras atenciones está sujeta a las normas gubernamentales. en caso se dé la disposición estaremos reiniciando actividades este 25 de mayo. Por favor, llamar a sus respectivas sedes para la coordinación de su cita. </p>
      <!-- 2 -->
      <b class="primary-text">2. ¿En qué consiste el protocolo especial Covid-19?</b>
      <p>Consiste en haber adecuado nuestro proceso de bioseguridad ya existente a las recomendaciones y normas actuales sobre el contexto COVID-19. Al ingreso a la clínica procederemos a tomarle la temperatura, realizar desinfección de manos, calzado y entregarle gorro, botas y mascarilla descartables. Se le aconseja que como paciente tome en cuenta las siguientes recomendaciones:</p>
      <ul class="ul-list">
        <li>Que las citas sean programadas.</li>
        <li>Considerar no ser parte de la población vulnerable.</li>
        <li>Asistir solo la persona a atenderse, salvo necesidad de venir acompañado.</li>
      </ul>
      <!-- 3 -->
      <b class="primary-text">3. ¿Los pacientes de Lima se pueden atender en provincia?</b>
      <p>Somos una red integrada por lo que los pacientes de Lima pueden ser atendidos con la misma eficiencia y calidad en todas las sedes a nivel nacional.<br>
        Por favor indíquenos cuál es la mejor manera de comunicarnos con usted.</p>
      <!-- 4 -->
      <b class="primary-text">4. ¿Cuánto es el tiempo aproximado que van a tardar los pacientes en la sala de espera para ser atendidos?</b>
      <p>Nuestras salas de espera están acondicionadas para atender a todos los pacientes programados y en lo posible respetar la hora de su cita, siempre tomando en cuenta que el tiempo de los tratamientos puede variar de acuerdo a la complejidad de la atención.</p>
      <!-- 5 -->
      <b class="primary-text">5. ¿Las cuotas de pago de los meses en cuarentena las van a cobrar o van a ser refinanciadas?</b>
      <p>Las cuotas de pago de los meses de cuarentena no serán cobradas.</p>
      <!-- 6 -->
      <b class="primary-text">6. ¿El tiempo que se estuvo en cuarentena va a influir negativamente en el tratamiento?</b>
      <p>Nuestros especialistas nos han informado que esto no ocurrirá. Sin embargo, cualquier situación que deba ser corregida correrá con la garantía del Centro Odontológico Americano.</p>
      <!-- 7 -->
      <b class="primary-text">7. ¿Qué doctores especialistas van a iniciar las consultas?</b>
      <p>En el caso de los especialistas que viajan a nuestras sedes de provincia, se están coordinando las fechas de viaje de acuerdo de los permisos de las autoridades</p>
      <!-- 8 -->
      <b class="primary-text">8.  ¿Van a llamar para reprogramar las citas?</b>
      <p>Si, ya se están programando citas.</p>
    </div>
  </div>
</div>
