<!-- video -->
<div class="video-container">
  <video loop autoplay muted id="homeVideo">
    <source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm> 
    <source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg> 
    <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
    <source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>
  </video>
  <div class="overlay">
    <p>Content above your video</p>
    <h5 class="gray-text">This should be vertically aligned</h5>
    <button class="waves-effect waves-light btn modal-trigger primary" href="#modal1">Ver Video</button>
  </div>
</div>
<!-- end -->

<div class="row horizontal-row" id="row-especialidades">
  <div class="col s6 horizontal-content" style="background-image: url('<%= STATIC_URL %>assets/img/especialidades.jpg');">
  </div>
  <div class="col s6 horizontal-content">
    <h5 class="gray-text">SOLUCIONES DE COMERCIO DIGITAL</h5>
    <h4 class="">Especialidades</h4>
    <p>450.000 millas de fibra en más de 60 países en una red comercial global para ofrecer soluciones de conectividad, en la nube, seguridad, voz y servicios gerenciados.</p>
  </div>
</div>

<div class="row horizontal-row" id="row-calidad">
  <div class="col s6 horizontal-content">
    <h5 class="gray-text">SOLUCIONES DE COMERCIO DIGITAL</h5>
    <h4 class="">Calidad</h4>
    <p>450.000 millas de fibra en más de 60 países en una red comercial global para ofrecer soluciones de conectividad, en la nube, seguridad, voz y servicios gerenciados.</p>
  </div>
  <div class="col s6 horizontal-content" style="background-image: url('<%= STATIC_URL %>assets/img/calidad.jpg');">
  </div>
</div>

<div class="row horizontal-row" id="row-aseguradoras">
  <div class="col s6 horizontal-content" style="background-image: url('<%= STATIC_URL %>assets/img/aseguradoras.jpg');">
  </div>
  <div class="col s6 horizontal-content">
    <h5 class="gray-text">SOLUCIONES DE COMERCIO DIGITAL</h5>
    <h4 class="">Aseguradoras</h4>
    <p>450.000 millas de fibra en más de 60 países en una red comercial global para ofrecer soluciones de conectividad, en la nube, seguridad, voz y servicios gerenciados.</p>
  </div>
</div>

<div class="row horizontal-row" id="row-pacientes">
  <div class="col s6 horizontal-content">
    <h5 class="gray-text">SOLUCIONES DE COMERCIO DIGITAL</h5>
    <h4 class="">Pacientes</h4>
    <p>450.000 millas de fibra en más de 60 países en una red comercial global para ofrecer soluciones de conectividad, en la nube, seguridad, voz y servicios gerenciados.</p>
    <button class="waves-effect waves-light btn modal-trigger primary" href="#modal1">Ver Testimonios</button>
  </div>
  <div class="col s6 horizontal-content" style="background-image: url('<%= STATIC_URL %>assets/img/pacientes.jpg');">
  </div>
</div>
