<!-- video -->
<div class="video-container">
  <video loop autoplay muted id="homeVideo">
    <source src=<%= STATIC_URL %>assets/site/videos/coa.webm type=video/webm> 
    <source src=<%= STATIC_URL %>assets/site/videos/coa.ogv type=video/ogg> 
    <source src=<%= STATIC_URL %>assets/site/videos/coa.mp4 type=video/mp4>
    <source src=<%= STATIC_URL %>assets/site/videos/coa.3gp type=video/3gp>
  </video>
  <div class="overlay">
    <!--
    <p>Content above your video</p>
    <h5 class="gray-text">This should be vertically aligned</h5>
    -->
    <button class="waves-effect waves-light btn modal-trigger primary" href="#modal1">Ver Video</button>
  </div>
</div>
<!-- end -->

<div class="row horizontal-row" id="row-bioseguridad">
  <div class="col s12 l6 m6 horizontal-content horizontal-content-img" style="background: url('<%= STATIC_URL %>assets/site/img/row-img-1.jpg')  no-repeat; background-size: 100%;">
  </div>
  <div class="col s12 l6 m6 horizontal-content">
    <h5 class="gray-text">Bioseguridad</h5>
    <!--<h4 class="">Especialidades</h4>-->
    <p class="text-justify">Con casi 30 años de experiencia al cuidado de su salud oral, nos caracteriza nuestro excelente proceso de bioseguridad y ante la coyuntura mundial actual; hemos adecuado nuestro protocolo de bioseguridad para garantizar una asepsia total.</p>
    <a class="waves-effect waves-light btn modal-trigger primary" href="https://secure.ethicspoint.com/domain/media/es/gui/56087/index.html">Más Información</a>
  </div>
</div>

<div class="row horizontal-row" id="row-protocolo">
  <div class="col s12 l6 m6 horizontal-content horizontal-content-img display-s" style="background: url('<%= STATIC_URL %>assets/site/img/row-img-2.jpg')  no-repeat; background-size: 100%;">
      </div>
  <div class="col s12 l6 m6 horizontal-content">
    <h5 class="gray-text">Refuerzo del protocolo de Bioseguridad</h5>
    <!--<h4 class="">Calidad</h4>-->
    <li><b class="primary-text">Desinfectamos las superficies:</b> Los muebles y equipos con detergentes y desinfectantes de alta protección: bactericida, levaduricida, tuberculicida y virucida (COVID-19).</li>
    <li><b class="primary-text">Esterilizamos el instrumental:</b> Vapor a alta temperatura y presión, en modernas autoclaves tipo B. </li>
    <li><b class="primary-text">Desinfectamos los circuitos:</b> De aspiración (mangueras) y escupideras con detergentes y desinfectantes de alta protección.</li>
    <li><b class="primary-text">Desinfectamos el piso:</b> Con hipoclorito de sodio lejía, solución concentrada detergente y desodorizante.</li>
  </div>
  <div class="col s12 l6 m6 horizontal-content horizontal-content-img hide-s" style="background: url('<%= STATIC_URL %>assets/site/img/row-img-2.jpg')  no-repeat; background-size: 100%;">
    </div>
</div>

<div class="row horizontal-row" id="row-especialidades">
  <div class="col s12 l6 m6 horizontal-content horizontal-content-img" style="background: url('<%= STATIC_URL %>assets/site/img/row-img-3.jpg')  no-repeat; background-size: 100%;">
  </div>
  <div class="col s12 l6 m6 horizontal-content">
    <h5 class="gray-text">Conoce nuestras especialidades</h5>
    <!--<h4 class="">Aseguradoras</h4>-->
    <p class="text-justify">La atención especializada que brindamos es gracias al Staff de profesionales con el que contamos. Ellos provienen de las mejores universidades del Perú y se encuentran capacitados para realizar tratamientos de alta complejidad en toda nuestra red. El beneficio para el paciente es que, no tiene que acudir a la sede central para recibir la misma atención especializada.</p>
    <li>Odontopediatría</li>
    <li>Rehabilitación oral</li>
    <li>Endodoncia</li>
    <li>Cirugía bucal y maxilofacial e implantes</li>
    <li>Periodoncia e implantes</li>
    <li>Patología oral</li>
    <li>Radiología bucal y maxilofacial</li>
    <li>Ortodoncia</li>
    <li>Estética dental</li>
    <li>Servicio odontológico para pacientes especiales</li>
  </div>
</div>

<div class="row horizontal-row" id="row-aseguradoras">
  <div class="col s12 l6 m6 horizontal-content horizontal-content-img display-s" style="background: url('<%= STATIC_URL %>assets/site/img/row-img-4.jpg')  no-repeat; background-size: 100%;">
  </div>
  <div class="col s12 l6 m6 horizontal-content">
    <h5 class="gray-text">Aseguradoras</h5>
    <!--<h4 class="">Pacientes</h4>
    <p class="text-justify">450.000 millas de fibra en más de 60 países en una red comercial global para ofrecer soluciones de conectividad, en la nube, seguridad, voz y servicios gerenciados.</p>
    <button class="waves-effect waves-light btn modal-trigger primary" href="#modal1">Ver Testimonios</button>
    -->
  </div>
  <div class="col s12 l6 m6 horizontal-content horizontal-content-img hide-s" style="background: url('<%= STATIC_URL %>assets/site/img/row-img-4.jpg')  no-repeat; background-size: 100%;">
  </div>
</div>
