<h1><%= detail.name %></h1>

<div class="row">
    <div class="col s12 l6">
      <img src="<%= STATIC_URL + detail.image %>" alt="<%= 'd' %>" class="">
    </div>
    <div class="col s12 l6">
      <% if (detail.description != '' || detail.description != null) { %> 
      <div class="row">
        <div class="col s6 l6">
          Descripci+ón
        </div>
        <div class="col s6 l6">
          <%= detail.description %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="row">
    <% for(var i = 0; i < images.length; i++){ %>
    <div class="col s3 m3"><img src="<%= STATIC_URL + images[i].url %>" alt="<%= images[i].alt %>" class="materialboxed responsive-img"></div>  
    <% } %>
  </div>