<!--
<div class="row container">
  <div class="col s12 l12">
    <h1><%= detail.name %></h1>
  </div>
</div>
<div class="row container">
  <div class="col s12 l6">
    <img src="<%= STATIC_URL + detail.image %>" alt="<%= 'd' %>" class="">
  </div>
  <div class="col s12 l6">
    <% if (detail.description != '' || detail.description != null) { %> 
    <div class="row">
      <div class="col s6 l12">
        Descripción
      </div>
      <div class="col s6 l12">
        <%= detail.description %>
      </div>
    </div>
    <% } %>
  </div>
</div>
-->
<div class="parallax-container parallax-img-header" id="parallax-sede">
    <div class="parallax ">
      <img src="<%= STATIC_URL + detail.image %>" alt="<%= 'd' %>" class="">
    </div>
    <div class="row container">
      <div class="col s12 l12" id="data-technology">
        <h1><%= detail.name %></h1>
        <%= detail.description %>
      </div>
    </div>
  </div>
<div class="row container">
    <% if (images.length > 0) { %> 
      <h5>Galería</h5><br>
      <% for(var i = 0; i < images.length; i++){ %>
      <div class="col s6 m4 img-gallery">
        <img 
          src="<%= STATIC_URL +images[i].url %>" 
          alt="<%= images[i].alt %>" 
          class="materialboxed responsive-img"
        >
      </div>  
      <% } %>
    <% } %>
  </div>