/* globals */

.primary {
  background-color: var(--primary-color) !important;
}

.secondary { 
  background: var(--secondary-color) !important;
}

body {
  background: #FFF;
  font: "Museo Sans",Verdana,sans-serif !important;
}

.gray-text{
  color:  var(--gray-dark) !important;
}

.gray{
  background:  var(--gray-light) !important;
}

.gray-dark{
  background:  var(--gray-dark) !important;
}

.container {
  max-width: 1500px;
}

/* form */

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after, [type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after{ border: 2px solid var(--gray-dark);}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
  background-color: var(--gray-dark) !important;

}
[type="checkbox"]:checked+span:not(.lever):before{ 
  border-right: 2px solid var(--gray-dark); border-bottom: 1px solid var(--gray-dark);
}

input.valid[type=text]:not(.browser-default),input[type=text]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), textarea.materialize-textarea:not(.browser-default) {
  border-bottom: 1px solid var(--gray-dark); box-shadow: 0 1px 0 0 #fdfdfd; color: #616161;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label, textarea + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #616161;
}

input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
  border: 0px solid #616161; 
}

input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
  border: 0px solid #616161; 
}

.dropdown-content li>a, .dropdown-content li>span{
  color: #616161;
}

.row .input-field input:focus {
  border-bottom: 1px solid rgb(199, 197, 197) !important;
  box-shadow: 0 1px 0 0 var(--gray-dark) !important;
}

.row-contact{
  margin-bottom: 0px;
}

button > i {
  margin-right: 10px;
}

.input-field > button {
  margin-top: 10px;
}

/* nav */

.sidenav-trigger > i{
  font-size: 24px;
}

.brand-logo > img {
  height: 60px;
  margin-top: 8px;
}

nav{
  position: fixed;
  background: rgba(0, 0, 0, 0);
  padding: 0px 20px;
  z-index: 10;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
  top: 0px;
}

.overlay > h5{
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 30px;
}

.overlay > p{
  font-size: 2rem;
  margin-bottom: 0px;
}

nav .nav-wrapper {
  margin-top: 20px;
}

.nav-wrapper > ul{
  margin-top: 15px;
}

@media (max-width: 992px) {
  .brand-logo{
    position: inherit !important;
    float: left !important;
    left: 0px !important;
    -webkit-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
  }

  nav .sidenav-trigger{
    float: right;
  }
}

@media only screen and (min-width: 601px){
  nav{
    height: 112px;
  }
}

/* menu */

.menu {
  color: white;
  text-transform: uppercase;
}

.menu:hover{
  cursor: pointer;
  background:var(--primary-color) !important;
}

.menu > i{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu > br{
  line-height:22px;
}

.menu{
  margin-top: 10px;
  text-align: center;
}

#menu > .row{
  margin-bottom: 10px;
  margin-top: -7px;
}

#menu{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  z-index: 2;
}

menu{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  margin-bottom: 0px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.menu-top{
  top: 96px;
  z-index: 2;
}

/* footer */

#contacto {
  background:  var(--gray-light) !important;
  padding: 30px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

#contacto > .col:first-child {
  padding-right: 50px;
}

#contacto > .col > img{
  max-width:50%; 
  height:auto; 
}

.social > a{
  border-radius: 100%;
  background: #f9f9f9;
  display: inline-block;
  width: 45px;
  height: 45px;
  color: var(--gray-dark) !important;
  margin-right: 15px;
}

.social > a > i{
  font-size: 30px;
  padding: 6px;
}

.footer-copyright > .row{
  margin-bottom: 0px;
}

.footer-copyright{
  background: var(--gray-dark) !important;
}

.page-footer{
  border-top: solid 0.5px #ccc;
  /*margin-top: 40px;*/
}

#terminosCondiciones:hover{
  cursor: pointer;
}

.input-error{
  border-bottom: 1px solid #b71c1c !important;
}

.text-error{
  color: #b71c1c !important;
}

/* workspace */

.horizontal-content{
  min-height: 450px !important;
  padding: 0 5.75rem !important;
  padding-top: 30px !important;
}

.horizontal-row{
  margin-bottom: 0px !important;
}

.horizontal-content > h4{
  color: var(--primary-color) !important;
  font-weight: 600;
}

.workpace-inner{
  margin-top: 113px;
}

.parallax-img-header{
  height: 200px;
  margin-top: 113px !important;
}

.parallax-container > .row > .col > h1 {
  color: white;
  font-size: 30px;
  font-weight: 600;
} 

.parallax-container > .row > .col > p {
  color: white;
  font-weight: 600;
} 

#map{
  height: 300px;
} 

#verMapa{
  font-weight: 600;
  color: var(--primary-color) !important;
}

#verMapa:hover{
  cursor: pointer;
  color:var(--secondary-color) !important;
}

/* odontologos */

.card .card-content {;
  min-height: 136px;
}

.pag-buttons, .pag-buttons > label{
  font-size: 25px !important;
  margin-right: 10px;
  margin-left: 20px;
}

.pag-buttons > label{
  font-size: 18px !important;
}