/* globals */

.primary {
  background-color: var(--primary-color) !important;
}

.secondary { 
  background: var(--secondary-color) !important;
}

body {
  background: #FFF;
  font: "Museo Sans",Verdana,sans-serif !important;
}

.gray-text{
  color:  var(--gray-dark);
}

.primary-text{
  color: var(--primary-color) !important; 
}

.gray{
  background:  var(--gray-light) !important;
}

.gray-dark{
  background:  var(--gray-dark) !important;
}

.color-success{
  color: #00c853;
}

.color-warning{
  color: #ffeb3b;
}

.color-error{
  color: #e53935;
}

.container {
  max-width: 1500px;
}

.text-justify{
  text-align: justify;
}

.display-s{
  display: none !important;
}

.modal.bottom-sheet{
  max-height: 75%;
}

/* form */

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after, [type="radio"]:not(:checked)+span:before, [type="radio"]:not(:checked)+span:after{ border: 2px solid var(--gray-dark);}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after{
  background-color: var(--gray-dark) !important;

}
[type="checkbox"]:checked+span:not(.lever):before{ 
  border-right: 2px solid var(--gray-dark); border-bottom: 1px solid var(--gray-dark);
}

input.valid[type=text]:not(.browser-default),input[type=text]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), textarea.materialize-textarea:not(.browser-default) {
  border-bottom: 1px solid var(--gray-dark); box-shadow: 0 1px 0 0 #fdfdfd; color: #616161;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label, textarea + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #616161;
}

input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
  border: 0px solid #616161; 
}

input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after{
  border: 0px solid #616161; 
}

.dropdown-content li>a, .dropdown-content li>span{
  color: #616161;
}

.row .input-field input:focus {
  border-bottom: 1px solid rgb(199, 197, 197) !important;
  box-shadow: 0 1px 0 0 var(--gray-dark) !important;
}

.row-contact{
  margin-bottom: 0px;
}

button > i {
  margin-right: 10px;
}

.input-field > button {
  margin-top: 10px;
}

/* nav */

.sidenav-trigger > i{
  font-size: 24px;
}

.brand-logo > img {
  height: 60px;
  margin-top: 8px;
}

nav ul a {
  text-transform: uppercase;
}

nav{
  position: fixed;
  background: rgba(0, 0, 0, 0);
  padding: 0px 20px;
  z-index: 10;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
  top: 0px;
}

.overlay > h5{
  font-size: 3rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 30px;
}

.overlay > p{
  font-size: 2rem;
  margin-bottom: 0px;
}

nav .nav-wrapper {
  margin-top: 20px;
}

.nav-wrapper > ul{
  margin-top: 15px;
}

@media (max-width: 992px) {
  .brand-logo{
    position: inherit !important;
    float: left !important;
    left: 0px !important;
    -webkit-transform: translateX(0%) !important;
    transform: translateX(0%) !important;
  }

  nav .sidenav-trigger{
    float: right;
  }
}

@media only screen and (min-width: 601px){
  nav{
    height: 112px;
  }
}

/* menu */

.menu {
  color: white;
  text-transform: uppercase;
}

.menu:hover{
  cursor: pointer;
  background:var(--primary-color) !important;
}

.menu > i{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu > br{
  line-height:22px;
}

.menu{
  margin-top: 25px;
  text-align: center;
}

#menu > .row{
  margin-bottom: 10px;
  margin-top: -7px;
}

#menu{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  z-index: 2;
}

menu{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: fit-content;
  margin-bottom: 0px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.menu-top{
  top: 96px;
  z-index: 2;
}

/* footer */

#contacto {
  background:  var(--gray-light) !important;
  padding: 30px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

#contacto > .col:first-child {
  padding-right: 50px;
}

#contacto > .col > img{
  max-width:90%; 
  height:auto; 
}

.social > a{
  border-radius: 100%;
  background: #f9f9f9;
  display: inline-block;
  width: 45px;
  height: 45px;
  color: var(--gray-dark) !important;
  margin-right: 15px;
}

.social > a > i{
  font-size: 30px;
  padding: 6px;
}

.footer-copyright > .row{
  margin-bottom: 0px;
}

.footer-copyright{
  background: var(--gray-dark) !important;
}

.page-footer{
  border-top: solid 0.5px #ccc;
  /*margin-top: 40px;*/
}

#terminosCondiciones:hover{
  cursor: pointer;
}

.input-error{
  border-bottom: 1px solid #b71c1c !important;
}

.text-error{
  color: #b71c1c !important;
}

/* workspace */

.horizontal-content{
  min-height: 450px !important;
  padding: 0 5.75rem !important;
  padding-top: 30px !important;
}

.horizontal-row{
  margin-bottom: 0px !important;
}

.horizontal-content > h4{
  color: var(--primary-color) !important;
  font-weight: 600;
  text-transform: uppercase;
}

.horizontal-content > h5{
  color: var(--primary-color) !important;
  font-weight: 600;
  text-transform: uppercase;
}

.workpace-inner{
  margin-top: 113px;
}

.parallax-img-header{
  height: 200px;
  margin-top: 113px !important;
}

.parallax-container > .row > .col > h1 {
  color: white;
  font-size: 30px;
  font-weight: 600;
} 

.parallax-container > .row > .col > p {
  color: white;
  font-weight: 600;
} 

#map{
  height: 450px;
} 

#verMapa{
  font-weight: 600;
  color: var(--primary-color) !important;
}

#verMapa:hover{
  cursor: pointer;
  color:var(--secondary-color) !important;
}

/* odontologos */

.card .card-content {
  min-height: 136px;
}

.pag-buttons, .pag-buttons > label{
  font-size: 25px !important;
  margin-right: 10px;
  margin-left: 20px;
}

.pag-buttons > label{
  font-size: 18px !important;
}

/* sedes */

.img-gallery{
  margin-bottom: 1rem;
}

#parallax-sede{
  height: 500px;
  margin-top: 0px !important;
}

#data-sede{
  background: rgba(255,255,255,0.50);
  margin-top: 75px;
}

/* technologies */

#data-technology{
  background: rgba(255,255,255,0.50);
  margin-top: 140px;
}

#data-technology > h1{
  color: #343434;
}

#data-technology > p{
  color: #343434;
  font-weight: 400;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
  .row .col {
    padding: 0px 0.25rem;
  }

  .display-s{
    display: block !important;
  }

  .hide-s{
    display: none;
  }

  .workpace-inner{
    margin-top: -50px;
  }

  /* home */

  .video-container{
    padding-bottom: 90.0%;
  }

  #homeVideo {
    width: 157%;
  }

  .horizontal-content {
    padding: 0 1.75rem !important;
    min-height: fit-content !important;
    padding-bottom: 20px !important;
  }

  .horizontal-content-img{
    min-height: 200px !important;
    background-size: 100%;
  }

   {
    color: var(--primary-color) !important;
  }

  /* contacto */

  #contacto{
    padding: 0px !important;
  }

  #contacto > .col > img {
    max-width: 100%;
  }  

  #contacto > div > img{
    display: none;
  }

  .social {
    margin-bottom: 20px;
  }

  /* nav menu */

  nav {
    height: 62px;
  }

  nav .nav-wrapper {
    margin-top: 0px
  }

  .brand-logo > img {
    height: 45px;
  }

  /* home menu */

  .menu-top {
    border-top: 1px #FFF;
    top: 50px;
  }

  .menu > i {
    font-size: 15px;
  }

  .menu {
    font-size: 12px;
    padding: 0 .0rem !important;
    margin-top: 5px;
  }

  #menu > .row {
    margin-bottom: 5px;
  }

  #menu{
    padding-left: 10px;
    padding-right: 0px;
  }

  /* odontologs */

  #btnBuscar{
    width: 100%;
  }

  .card-content {
    padding: 5px !important;
    padding-top: 20px !important;
  }

  /* red */

  #parallax-sede > .row {
    
  }

  #data-sede {
    margin-top: 140px;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}